***linear regression using scikit learn***

In [2]:
# import all the required libraries 

import numpy as np 
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv('housing.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
df = df.dropna()

In [5]:
df = df.sample(n = len(df),random_state = 42)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14416,-117.24,32.79,20.0,961.0,278.0,525.0,254.0,3.1838,245800.0,NEAR OCEAN
16383,-121.29,38.01,2.0,6403.0,1116.0,3327.0,957.0,4.4871,137900.0,INLAND
7731,-118.14,33.92,31.0,3731.0,853.0,2313.0,801.0,3.2237,218200.0,<1H OCEAN
1410,-122.07,37.94,30.0,1260.0,276.0,707.0,221.0,2.8920,220800.0,NEAR BAY
1335,-121.89,37.99,4.0,2171.0,597.0,928.0,461.0,4.1016,170500.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
11397,-117.97,33.72,24.0,2991.0,500.0,1437.0,453.0,5.4286,273400.0,<1H OCEAN
12081,-117.54,33.76,5.0,5846.0,1035.0,3258.0,1001.0,4.7965,160800.0,<1H OCEAN
5447,-118.42,34.01,42.0,1594.0,369.0,952.0,362.0,3.0990,335400.0,<1H OCEAN
866,-122.04,37.57,12.0,5719.0,1064.0,3436.0,1057.0,5.2879,231200.0,NEAR BAY
15948,-122.43,37.73,52.0,3602.0,738.0,2270.0,647.0,3.8934,251800.0,NEAR BAY

In [6]:
df_d = pd.get_dummies(df['ocean_proximity'])
df_d

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
14416      False   False   False     False        True
16383      False    True   False     False       False
7731        True   False   False     False       False
1410       False   False   False      True       False
1335       False    True   False     False       False
...          ...     ...     ...       ...         ...
11397       True   False   False     False       False
12081       True   False   False     False       False
5447        True   False   False     False       False
866        False   False   False      True       False
15948      False   False   False      True       False

[20433 rows x 5 columns]

In [7]:
df = pd.concat([df, df_d], axis=1)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
14416,-117.24,32.79,20.0,961.0,278.0,525.0,254.0,3.1838,245800.0,NEAR OCEAN,False,False,False,False,True
16383,-121.29,38.01,2.0,6403.0,1116.0,3327.0,957.0,4.4871,137900.0,INLAND,False,True,False,False,False
7731,-118.14,33.92,31.0,3731.0,853.0,2313.0,801.0,3.2237,218200.0,<1H OCEAN,True,False,False,False,False
1410,-122.07,37.94,30.0,1260.0,276.0,707.0,221.0,2.8920,220800.0,NEAR BAY,False,False,False,True,False
1335,-121.89,37.99,4.0,2171.0,597.0,928.0,461.0,4.1016,170500.0,INLAND,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11397,-117.97,33.72,24.0,2991.0,500.0,1437.0,453.0,5.4286,273400.0,<1H OCEAN,True,False,False,False,False
12081,-117.54,33.76,5.0,5846.0,1035.0,3258.0,1001.0,4.7965,160800.0,<1H OCEAN,True,False,False,False,False
5447,-118.42,34.01,42.0,1594.0,369.0,952.0,362.0,3.0990,335400.0,<1H OCEAN,True,False,False,False,False
866,-122.04,37.57,12.0,5719.0,1064.0,3436.0,1057.0,5.2879,231200.0,NEAR BAY,False,False,False,True,False
15948,-122.43,37.73,52.0,3602.0,738.0,2270.0,647.0,3.8934,251800.0,NEAR BAY,False,False,False,True,False

In [8]:
df = df.drop('ocean_proximity', axis=1)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
14416,-117.24,32.79,20.0,961.0,278.0,525.0,254.0,3.1838,245800.0,False,False,False,False,True
16383,-121.29,38.01,2.0,6403.0,1116.0,3327.0,957.0,4.4871,137900.0,False,True,False,False,False
7731,-118.14,33.92,31.0,3731.0,853.0,2313.0,801.0,3.2237,218200.0,True,False,False,False,False
1410,-122.07,37.94,30.0,1260.0,276.0,707.0,221.0,2.8920,220800.0,False,False,False,True,False
1335,-121.89,37.99,4.0,2171.0,597.0,928.0,461.0,4.1016,170500.0,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11397,-117.97,33.72,24.0,2991.0,500.0,1437.0,453.0,5.4286,273400.0,True,False,False,False,False
12081,-117.54,33.76,5.0,5846.0,1035.0,3258.0,1001.0,4.7965,160800.0,True,False,False,False,False
5447,-118.42,34.01,42.0,1594.0,369.0,952.0,362.0,3.0990,335400.0,True,False,False,False,False
866,-122.04,37.57,12.0,5719.0,1064.0,3436.0,1057.0,5.2879,231200.0,False,False,False,True,False
15948,-122.43,37.73,52.0,3602.0,738.0,2270.0,647.0,3.8934,251800.0,False,False,False,True,False

In [9]:
df = df[['longitude', 'latitude', 'housing_median_age', 'total_rooms',
         'total_bedrooms', 'population', 'households', 'median_income','<1H OCEAN','INLAND','ISLAND','NEAR BAY','NEAR OCEAN','median_house_value']]

df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
14416,-117.24,32.79,20.0,961.0,278.0,525.0,254.0,3.1838,False,False,False,False,True,245800.0
16383,-121.29,38.01,2.0,6403.0,1116.0,3327.0,957.0,4.4871,False,True,False,False,False,137900.0
7731,-118.14,33.92,31.0,3731.0,853.0,2313.0,801.0,3.2237,True,False,False,False,False,218200.0
1410,-122.07,37.94,30.0,1260.0,276.0,707.0,221.0,2.8920,False,False,False,True,False,220800.0
1335,-121.89,37.99,4.0,2171.0,597.0,928.0,461.0,4.1016,False,True,False,False,False,170500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11397,-117.97,33.72,24.0,2991.0,500.0,1437.0,453.0,5.4286,True,False,False,False,False,273400.0
12081,-117.54,33.76,5.0,5846.0,1035.0,3258.0,1001.0,4.7965,True,False,False,False,False,160800.0
5447,-118.42,34.01,42.0,1594.0,369.0,952.0,362.0,3.0990,True,False,False,False,False,335400.0
866,-122.04,37.57,12.0,5719.0,1064.0,3436.0,1057.0,5.2879,False,False,False,True,False,231200.0
15948,-122.43,37.73,52.0,3602.0,738.0,2270.0,647.0,3.8934,False,False,False,True,False,251800.0

In [10]:
sx = StandardScaler()
sy = StandardScaler()
X = df.iloc[:,:-1].to_numpy()
X = sx.fit_transform(X)
y = df.iloc[:,-1].to_numpy().reshape(-1,1)
y = sy.fit_transform(y)
X,y

(array([[ 1.16329175, -1.33091204, -0.68562884, ..., -0.01564487,
         -0.35352419,  2.60290495],
        [-0.85814157,  1.11257027, -2.11516497, ..., -0.01564487,
         -0.35352419, -0.38418614],
        [ 0.71408434, -0.80195897,  0.18797657, ..., -0.01564487,
         -0.35352419, -0.38418614],
        ...,
        [ 0.57433093, -0.75982997,  1.06158199, ..., -0.01564487,
         -0.35352419, -0.38418614],
        [-1.23248108,  0.90660624, -1.32097823, ..., -0.01564487,
          2.82866074, -0.38418614],
        [-1.42713762,  0.98150225,  1.85576873, ..., -0.01564487,
          2.82866074, -0.38418614]]),
 array([[ 0.33730077],
        [-0.59744187],
        [ 0.09820071],
        ...,
        [ 1.11350968],
        [ 0.2108203 ],
        [ 0.38927905]]))

In [11]:
X_train,X_,y_train,y_ = train_test_split(X,y,test_size = 0.2,random_state = 42)
X_val,X_test,y_val,y_test = train_test_split(X_,y_,test_size = 0.5,random_state = 42)

In [12]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [13]:
y_pred_val = model.predict(X_val)
y_pred_test = model.predict(X_test)

In [14]:
test_error = mean_squared_error(y_test, y_pred_test)
val_error = mean_squared_error(y_val, y_pred_val)
test_error, val_error

(0.35181440258005997, 0.34620227651983376)

In [15]:
print("this is the test error: ", test_error)
print("this is the validation error: ", val_error)

this is the test error:  0.35181440258005997
this is the validation error:  0.34620227651983376

In [16]:
import pickle
with open('model.pkl', 'wb') as f:
    pickle.dump(model, f)